body {
    background-color: #a0f0a1; /* Cor de fundo desejada */
  }

#titulo, #datahora, #descricao {
    color: white;
}

#card {
    background-color: #8348f0;
}

#editbutton {
    margin-right: 10px;
  }

#deletebutton {
    margin-left: 10px;
  }

#addbutton {
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 10%;
}

.btn-lg.round {
	border-radius: 24px;
}
